[project]
	description = A nagios check which checks for validity of the HTTP Strict-Transport-Security header.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sam J Sharpe (samjsharpe)
[access "refs/for/refs/*"]
	read = group user/Sam J Sharpe (samjsharpe)
	push = group user/Sam J Sharpe (samjsharpe)
	label-Code-Review = -2..+2 group user/Sam J Sharpe (samjsharpe)
	label-Verified = -1..+1 group user/Sam J Sharpe (samjsharpe)
	rebase = group user/Sam J Sharpe (samjsharpe)
	removeReviewer = group user/Sam J Sharpe (samjsharpe)
	submit = group user/Sam J Sharpe (samjsharpe)
[access "refs/heads/*"]
	read = group user/Sam J Sharpe (samjsharpe)
	create = group user/Sam J Sharpe (samjsharpe)
	push = +force group user/Sam J Sharpe (samjsharpe)
	pushMerge = group user/Sam J Sharpe (samjsharpe)
[access "refs/tags/*"]
	push = +force group user/Sam J Sharpe (samjsharpe)
	pushTag = group user/Sam J Sharpe (samjsharpe)
	pushSignedTag = group user/Sam J Sharpe (samjsharpe)
